.page-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.page-header-first-section {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.page-header-first-section-guide-button {
  width: 24px;
  height: 24px;
}

.page-header-fist-section-youtube-button {
  width: 90px;
  height: 20px;
}

.page-header-fist-section-youtube-button svg,
.page-header-first-section-guide-button svg {
  width: 100%;
  height: 100%;
}

.page-header-form {
  display: flex;
}

.page-header-search-input-section {
  display: flex;
  align-items: center;
}

.page-header-search-bar {
  display: flex;
  align-items: center;
  gap: 12px;
  border: 1px solid #303030;
  border-radius: 40px 0px 0px 40px;
  height: 40px;
  padding: 0 0 0 16px;
  min-width: 546px;
}

.page-header-search-bar svg {
  display: none;
  width: 22px;
  height: 22px;
}

.page-header-search-bar label {
  display: none;
}
.page-header-search-bar input {
  background-color: transparent;
  outline: none;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  line-height: 24px;
  color: #fff;
}

.close-search-button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  display: none;
}

.close-search-button:hover {
  background-color: #444;
}

.search-submit-button {
  background-color: #222;
  border-radius: 0 40px 40px 0;
  height: 40px;
  width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #303030;
}

.search-by-voice {
  margin-left: 12px;
  border-radius: 50%;
  background-color: #303030;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-by-voice:hover {
  background-color: #444;
}

.page-header-second-section {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.page-header-second-section img {
  border-radius: 100%;
}
